[Unit]
Description=Navidrome
After=remote-fs.target network.target
AssertPathExists=/var/lib/navidrome

[Service]
User=navidrome
Group=navidrome
ExecStart=/opt/navidrome/navidrome --configfile /etc/navidrome/navidrome.toml --datafolder /var/lib/navidrome
WorkingDirectory=/var/lib/navidrome

[Install]
WantedBy=multi-user.target
