[Unit]
Description=slskd
After=syslog.target network.target

[Service]
User=slskd
Group=slskd
ExecStart=/usr/bin/env DOTNET_EnableDiagnostics=0 DOTNET_BUNDLE_EXTRACT_BASE_DIR=/var/lib/slskd/.net /opt/slskd/slskd --app-dir=/var/lib/slskd/app --config=/etc/slskd/slskd.yml
Restart=always

[Install]
WantedBy=multi-user.target
