[Unit]
Description=slskd
After=syslog.target network.target
AssertPathExists=/var/lib/slskd

[Service]
User=slskd
Group=slskd
ExecStart=/opt/slskd/slskd --app-dir=/var/lib/slskd/app --config=/etc/slskd/slskd.yml
Environment=DOTNET_EnableDiagnostics=0
Environment=DOTNET_BUNDLE_EXTRACT_BASE_DIR=/var/lib/slskd/.net

[Install]
WantedBy=multi-user.target
